Welcome to example.com, <%= @user.user_name %>
===============================================

Bienvenido a Faro, <%= @user.user_name %>

Necesitamos confirmar tu cuenta para que empieces a usar Faro. Por favor haz clic en el siguiente link:
<a href="#">El super link</a>

Gracias y ten un gran día
